<style>
  p {
  margin: 0;
}

.upload__box {
  padding: 40px;
}

.upload__inputfile {
  width: .1px;
  height: .1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.upload__btn {
  display: inline-block;
  font-weight: 600;
  color: #fff;
  text-align: center;
  min-width: 116px;
  padding: 5px;
  transition: all .3s ease;
  cursor: pointer;
  border: 2px solid;
  background-color: #4045ba;
  border-color: #4045ba;
  border-radius: 10px;
  line-height: 26px;
  font-size: 14px;
}

.upload__btn:hover {
  background-color: unset;
  color: #4045ba;
  transition: all .3s ease;
}

.upload__btn-box {
  margin-bottom: 10px;
}

.upload__img-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.upload__img-box {
  width: 200px;
  padding: 0 10px;
  margin-bottom: 12px;
}

.upload__img-close {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: center;
  line-height: 24px;
  z-index: 1;
  cursor: pointer;
}

.upload__img-close:after {
  content: '\2716';
  font-size: 14px;
  color: white;
}

.img-bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  padding-bottom: 100%;
}
</style>





{{>admin_nav}}


<div class="col-12 grid-margin stretch-card">
  {{!-- <img class="mt-5" src="https://cdn.learnwoo.com/wp-content/uploads/2016/11/Adding-Products_Cropped.png"
    width="450px" height="400px" alt=""> --}}
  <div class="card">
    <div class="card-body">
      <p class="card-description mt-5 mb-5">
      <h2>Add Product</h2>
      </p>
      <form action="/admin/add_product" enctype="multipart/form-data" method="post" class="forms-sample mt-5">
        <div class="form-group col-5">
          <label for="exampleInputName1">Name</label>
          <input type="text" name="Name" class="form-control" id="exampleInputName1" placeholder="Name" required="">
        </div>
        <div class="form-group col-5">
          <label for="exampleInputEmail3">Brand Name</label>
          <input type="text" name="Brand" class="form-control" id="exampleInputEmail3" placeholder="Brand" required="">
        </div>
        <div class="form-group col-5">
          <label for="exampleInputPassword4">Quantity</label>
          <input type="number" name="Quantity" class="form-control" id="exampleInputPassword4" placeholder="QTY"
            required="">
        </div>
        <div class="form-group col-3">
          <label for="exampleSelectGender">Category</label>

          <select class="form-control text-dark" name="categoryname" id="exampleSelectGender" required="">
            {{#each categorys}}
            <option>{{this.categoryname}}</option>
            {{/each}}

          </select>
        </div>
        {{!-- imageuplod --}}
        <div class="form-group">
          <label for="form-control-file">Image</label><br>
          <div class="upload__box">
            <div class="upload__btn-box">
              <label class="upload__btn">
                <p>Upload images</p>
                <input type="file" multiple="" data-max_length="20" name="productImage"  class="upload__inputfile">
              </label>
            </div>
            <div class="upload__img-wrap"></div>
          </div>


        


          {{!-- <img src="/productImages/{{products.image}}" alt="" style="height:auto;width:50px" id="imgView">

          <input type="file" name="productImage" onchange="viewImage(event)" class="form-control-file mt-2" id="Image"
            multiple> --}}





          {{!-- filepond --}}
          {{!-- <input type="file" class="filepond" name="productImage" name="filepond" multiple
            data-max-file-size="3MB" data-max-files="3" /> --}}

          {{!-- <form action="/add_product" method="post" enctype="multipart/form-data">
            <input type="file" name="images" class="filepond" multiple>
            <button type="submit">Upload</button>
          </form> --}}

        </div>
        <div class="form-group col-5">
          <label for="exampleInputCity1">Price</label>
          <input type="number" name="Price" class="form-control" id="exampleInputCity1" placeholder="Amount"
            required="">
        </div>
        <div class="form-group col-5">
          <label for="exampleFormControlTextarea1">Product Description</label>
          <textarea class="form-control" name="Description" id="exampleFormControlTextarea1" rows="3"
            required=""></textarea>
        </div>

        <button type="submit" class="btn btn-primary me-2">Submit</button>
        
      </form>
    </div>
  </div>
</div>




{{>admin_footer}}



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function () {
    ImgUpload();
  });

  function ImgUpload() {
    var imgWrap = "";
    var imgArray = [];

    $('.upload__inputfile').each(function () {
      $(this).on('change', function (e) {
        imgWrap = $(this).closest('.upload__box').find('.upload__img-wrap');
        var maxLength = $(this).attr('data-max_length');

        var files = e.target.files;
        var filesArr = Array.prototype.slice.call(files);
        var iterator = 0;
        filesArr.forEach(function (f, index) {

          if (!f.type.match('image.*')) {
            return;
          }

          if (imgArray.length > maxLength) {
            return false
          } else {
            var len = 0;
            for (var i = 0; i < imgArray.length; i++) {
              if (imgArray[i] !== undefined) {
                len++;
              }
            }
            if (len > maxLength) {
              return false;
            } else {
              imgArray.push(f);

              var reader = new FileReader();
              reader.onload = function (e) {
                var html = "<div class='upload__img-box'><div style='background-image: url(" + e.target.result + ")' data-number='" + $(".upload__img-close").length + "' data-file='" + f.name + "' class='img-bg'><div class='upload__img-close'></div></div></div>";
                imgWrap.append(html);
                iterator++;
              }
              reader.readAsDataURL(f);
            }
          }
        });
      });
    });

    $('body').on('click', ".upload__img-close", function (e) {
      var file = $(this).parent().data("file");
      for (var i = 0; i < imgArray.length; i++) {
        if (imgArray[i].name === file) {
          imgArray.splice(i, 1);
          break;
        }
      }
      $(this).parent().parent().remove();
    });
  }
</script>













